@import '@cssVariables';

:global html,
:global body {
  height: 100%
}

:global body {
  letter-spacing: 1.5px;
  font-family: effraLight, arial;
}

:global #main {
  height: 100%;
}

:global div.app {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-rows: 50px 1fr 50px;
  /* grid-gap: var(--spacer20); */
  background: var(--black);
  color: var(--white);
}

:global .app header,
:global .app footer {
  width: 94%;
  margin: 0 auto;
}

:global .app header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacer20);
  background: var(--black);

  grid-area: header;

  & ul {
    display: flex;

    & li {
      margin-left: var(--spacer10);

       & a {
        color: var(--white); 
        text-decoration: none;
       }
    }
  }
}

:global .app main {
  height: 100%;
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-rows: minmax(min-content, max-content); */
  grid-gap: var(--spacer);

  padding: 0 var(--spacer);

  & h1  {
    grid-column: 1 / -1;
  }
}

:global .app footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--spacer20);
  background: var(--black);

  grid-area: footer;

  & ul {
    display: flex;

    & li {
      margin-left: var(--spacer10);

      & a,
      & a:visited {
        color: var(--white);
        text-decoration: none;
      }
    }
  }
}
