.carousel {
  height: 300px;
  color: lightcyan;

  grid-column: 2 / -2;

  & .item {
    height: 400px;
    background: red;

    & h4 {
      background: orangered;
      height: 150px;
    }
  }
}
