@import '@cssVariables';

.content {
  padding: var(--spacer20);
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-auto-flow: dense;
  grid-gap: var(--spacer20);
  background: var(--gray);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  grid-column: span 2;
  grid-row: span 3;
  object-fit: cover;
}

.grid_2 {
  grid-column: span 2;
  grid-row: span 3;
}
